In [6]:
# Install Spark and Java (only run once)
!apt-get update
!apt-get install openjdk-11-jdk -y
!wget -q http://apache.mirrors.pair.com/spark/spark-3.3.2/spark-3.3.2-bin-hadoop3.tgz
!tar xf spark-3.3.2-bin-hadoop3.tgz
!pip install -q findspark

# Set environment variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.2-bin-hadoop3"

import findspark
findspark.init()

Hit:1 http://security.ubuntu.com/ubuntu jammy-security InRelease
Hit:2 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:4 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease
Hit:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Hit:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease
Hit:7 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:10 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Reading package lists... Done
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
openjdk-11-jdk is already the newest version (11.0.27+6~us1-0ubuntu1~22.04).
0 upgraded, 0 newly installed, 0 to remove and 40 not upgraded.

In [7]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Big Data Analysis with PySpark") \
    .getOrCreate()

In [8]:
# Load sample CSV (replace this with your file)
df = spark.read.csv("/content/sample_data/california_housing_train.csv", header=True, inferSchema=True)

# Show top rows
df.show(5)

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

In [9]:
# Check schema
df.printSchema()

# Basic statistics
df.describe().show()

# Group by and aggregate example
df.groupBy("housing_median_age").avg("median_house_value").show()

# Filter example
df.filter(df["median_house_value"] > 300000).show(5)

# Correlation
print("Correlation between median_income and median_house_value:")
print(df.stat.corr("median_income", "median_house_value"))

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|summary|          longitude|          latitude|housing_median_age|      total_rooms|   total_bedrooms|        population|       households|     median_income|median_house_value|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+
|  count|              17000|             17000|             17000|            17000|            17000|             17000|            17000|             17000|             17000|
|   mean|-119.56210823529375|  35.6252247058827| 28.58935294117647|2643.664411764706|539.4108235294118|1429.5739411764705|501.2219411764706| 3.883578100000021|207300.91235294117|
| stddev| 2.0051664084260357|2.1373397946570867|12.586936981660406|2179.947071452777|421.4994515798648| 1147.852959159527|384.5208408559016|1.9081565183791036|115983.76438720895|
|    min|            -124.35|             32.54|               1.0|              2.0|              1.0|               3.0|              1.0|            0.4999|           14999.0|
|    max|            -114.31|             41.95|              52.0|          37937.0|           6445.0|           35682.0|           6082.0|           15.0001|          500001.0|
+-------+-------------------+------------------+------------------+-----------------+-----------------+------------------+-----------------+------------------+------------------+

+------------------+-----------------------+
|housing_median_age|avg(median_house_value)|
+------------------+-----------------------+
|               8.0|     190805.07303370786|
|               7.0|       188445.059602649|
|              49.0|      220667.6126126126|
|              29.0|     195185.86363636365|
|              47.0|     190064.61142857143|
|              42.0|      199635.1103896104|
|              44.0|     214909.50675675675|
|              35.0|     205624.46242774566|
|              18.0|     192074.71548117156|
|              39.0|     206718.91390728476|
|               1.0|               190250.0|
|              34.0|     213061.61552028218|
|              37.0|     209008.29977116705|
|              25.0|      223097.2234273319|
|              36.0|     208262.42237762237|
|              41.0|      197328.9353448276|
|               4.0|      230054.1055900621|
|              23.0|      204621.7879581152|
|              50.0|     222513.48214285713|
|              45.0|     223464.74468085106|
+------------------+-----------------------+
only showing top 20 rows

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -116.26|   33.65|               3.0|     7437.0|        1222.0|     574.0|     302.0|      10.2948|          382400.0|
|  -116.33|   33.72|              11.0|    12327.0|        2000.0|    2450.0|    1139.0|       7.4382|          353100.0|
|  -116.37|   33.69|               7.0|     8806.0|        1542.0|     858.0|     448.0|       7.8005|          318100.0|
|  -116.42|   33.76|              14.0|    16921.0|        2837.0|    2524.0|    1262.0|       7.6281|          341700.0|
|  -116.43|   33.75|              24.0|     2596.0|         438.0|     473.0|     237.0|       3.7727|          500001.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 5 rows

Correlation between median_income and median_house_value:
0.6918706037806676

In [10]:
# Save processed data
df.write.csv("/content/processed_housing_data", header=True)